<%= page_entries_info @layers %>
<br>
<%= paginate @layers %>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th></th>
      <th>Layer Name</th>
      <th>Geoserver Name</th>
      <th>Access</th>
      <th>Status</th>
      <th>Recent Status</th>
    </tr>
  </thead>

<% @layers.each do |layer| %>
  <tr>
    <td>
      <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-wrench'), {controller: 'layers', action: 'check_status', id: layer.id}, data: { no_turbolink: true }, target: '_blank', title: 'Check Status' %>
       |
      <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-globe'), "http://ogpapp-test.stanford.edu/catalog/#{layer.name}", target: '_blank', title: 'View in GeoBlacklight' %>
    </td>
    <td><%= layer.name %></td>
    <td><%= layer.geoserver_layername %></td>
    <td><%= layer.access %></td>
    <td><%= link_to latest_status_badge(layer.latest_status), layer.latest_status unless layer.latest_status.nil? %></td>
    <td><%= recent_status_badge(layer.recent_status) unless layer.recent_status.nil? %></td>
  </tr>
<% end %>
</table>
