<!DOCTYPE html>
<html>
<head>
  <title>GeoMonitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>
<div class="container">
  <div class="col-md-8">
    <h1>GeoMonitor</h1>
    <h3>Keeping an eye on your Geoserver</h3>
  </div>
  <div class="col-md-4">
    <%= render 'templates/nav' %>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>
</div>
</body>
</html>
